@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'ostrich';
    src: url('../assets/fonts/ostrich-regular.ttf') format('truetype'); /* For TTF files */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'life';
    src: url('../assets/fonts/Life\ is\ goofy.ttf') format('truetype'); /* For TTF files */
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'heavy';
  src: url('../assets/fonts/OstrichSans-Heavy.otf') format('truetype'); /* For TTF files */
  font-weight: normal;
  font-style: normal;
}

:root {
    --primary-color:#FCEDA9;
    --primary-yellow:#FFA733;
    --blue-color:#0163C6;
    -blue-color-second:#316ADF;
    --secondary-color:#E63747;
    --green-color:#237560     ;
    --black-color:#000;
    --white-color:#fff;
    --orange-color:#F46020;
    --main-font:'life', sans-serif;
    --body-font:"Public Sans", sans-serif;
    --secondary-font:"heavy",sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--primary-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--white-color);
}
.contanier-main{
 padding: 50px 0px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--bs-heading-color, inherit);
    font-family: var(--body-font);
}
.main-btn {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-btn::after,
.main-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.main-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.main-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.main-btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.main-btn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.main-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/* preloader css start */

/* Base Styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; /* Added padding for better spacing on smaller screens */
  text-align: center; /* Center-align text for responsiveness */
}

#preloader .loader img {
  width: 180px;
  animation: bounce 1.5s infinite;
}

#preloader .loader p {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 3.5rem;
  color: #e74c3c;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ensure text and dots wrap on smaller screens */
}

#preloader .loader p .dots {
  display: flex;
  margin-left: 10px;
}

#preloader .loader p .dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 20px 3px 0px;
  animation: fade 1.2s infinite;
}

#preloader .loader p .dots .dot:nth-child(1) {
  animation-delay: 0s;
}
#preloader .loader p .dots .dot:nth-child(2) {
  animation-delay: 0.2s;
}
#preloader .loader p .dots .dot:nth-child(3) {
  animation-delay: 0.4s;
}
#preloader .loader p .dots .dot:nth-child(4) {
  animation-delay: 0.6s;
}
#preloader .loader p .dots .dot:nth-child(5) {
  animation-delay: 0.8s;
}

/* Animations */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  #preloader .loader img {
    width: 150px; /* Reduce image size for smaller screens */
  }

  #preloader .loader p {
    font-size: 2.5rem; /* Adjust font size */
    margin-top: 10px;
  }

  #preloader .loader p .dots .dot {
    width: 10px; /* Reduce dot size for smaller screens */
    height: 10px;
    margin: 15px 2px 0px;
  }
}

@media (max-width: 480px) {
  #preloader .loader img {
    width: 120px; /* Further reduce image size for very small screens */
  }

  #preloader .loader p {
    font-size: 1.8rem; /* Adjust font size */
  }

  #preloader .loader p .dots .dot {
    width: 9px; /* Adjust dot size */
    height: 9px;
  }
}
@media (max-width: 380px) {
  #preloader .loader img {
    width: 100px; /* Further reduce image size for very small screens */
  }

  #preloader .loader p {
    font-size: 1.5rem; /* Adjust font size */
  }

  #preloader .loader p .dots .dot {
    width: 9px; /* Adjust dot size */
    height: 9px;
  }
}

@media (max-width: 350px) {
  #preloader .loader img {
    width: 80px; /* Further reduce image size for very small screens */
  }

  #preloader .loader p {
    font-size: 1.3rem; /* Adjust font size */
  }

  #preloader .loader p .dots .dot {
    width: 6px; /* Adjust dot size */
    height: 6px;
  }
}







/* preloader css end */

/* Header css */
.navbar {
  transition: all 0.3s ease;
}
.nav-link {
  position: relative;
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-link.active {
  color: #dc3545; /* Highlighted text color */
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust the distance below the text */
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #dc3545, #f06543);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.nav-link.active::before {
  content: "★"; /* Add an icon before the active link */
  position: absolute;
  left: -20px; /* Position the icon to the left */
  color: var(--green-color);
  font-size: 1rem;
  top: 0;
  animation: bounce 1s infinite;
}

.nav-link:hover {
  color: #dc3545;
}

/* Hover effect on links */
.nav-link::after {
  transform: scaleX(0);
  transform-origin: right;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Animation for the star icon */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}


/* Sticky navbar styling */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
  background-color: var(--primary-color); /* Add a solid background when sticky */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
    width: 20%;
    margin-right: 8px;
  }
  .navbar-brand span{
    font-size: 50px;
    font-family: var(--main-font);
  }  

  .navbar-nav .nav-link {
    color: #e91e63 !important;
    font-weight: bold;
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 800;
    margin: 0px 8px;
  }


  @media screen and (max-width: 1300px) {
    .navbar-nav .nav-link {
    color: #e91e63 !important;
    font-weight: bold;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 800;
    margin: 0px 8px;
  }
  }
  @media screen and (max-width: 400px) {
    .navbar-light .navbar-brand {
       width: 75%;
  }
  
  .navbar-brand img {
    width: 22%;
    margin-right: 8px;
  }
  .navbar-brand span{
    font-size: 35px;
    font-family: var(--main-font);
  }
  }
   @media screen and (max-width: 350px) {
    .navbar-light .navbar-brand {
       width: 73% !important;
  }
}

  .offcanvas {
    background-color: var(--primary-color);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
     z-index: 2000;
  }

  .offcanvas-backdrop.show {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
   
  }

  .btn-outline-danger {
    font-size: 1.5rem;
    border: none;
  }
.main-title {
  font-size: 9rem;
  font-weight: bolder;
  /* margin-top: 50px; */
  font-family: var(--secondary-font);
  padding-top: 20px;
  line-height: 8rem;
  letter-spacing: 1px;
   
  }
  
  .description {
    font-size: 2.4rem;
    line-height: 2.5rem;
    color: #176857;
    font-weight: 800;
    font-family: var(--secondary-font);
    top: 40px;
    position: relative;
    letter-spacing: 1px;
  }
  
  .polaroid-container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.polaroid-wrapper {
    position: absolute;
  
    background-image: url('../assets/images/border-1.png'); /* Path to your border image */
    background-size: contain; /* Ensures the border image covers the wrapper */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.polaroid .image {
    display: inline-block;
    height: 200px; /* Maintains aspect ratio */
    box-shadow: none; /* Remove inset shadow */
    transition: transform 0.5s ease, filter 0.5s ease; /* Smooth hover effects */
    padding: 25px 30px 35px;
}

/* Hover Effect */
.polaroid-wrapper:hover {
    transform: scale(1.1) rotate(10deg); /* Slight rotation and scaling */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow */
}

.polaroid-wrapper:hover .image {
    transform: scale(1.05); /* Slightly zoom in the image */
    filter: brightness(1.2); /* Brighten the image */
}

/* Individual rotations */
.rotate-1 { top: -500px; left: 9%; transform: rotate(-20deg); }
.rotate-2 { top: -210px; left: 4%; transform: rotate(10deg); }
.rotate-3 { top: 72px; left: 7%; transform: rotate(-12deg); }
.rotate-5 { top: -210px; right: 3%; transform: rotate(-12deg); }
.rotate-4 { top: -500px; right: 9%; transform: rotate(20deg); }
.rotate-6 { top: 72px; left: 78%; transform: rotate(12deg); }
.rotate-7 { top: 25px; left: 31%; transform: rotate(8deg); }
.rotate-8 { top: 25px; left: 55%; transform: rotate(-8deg); }


  .arrow-btn-hero {
    background-color: var(--secondary-color);
    position: relative;
    top: 80px;
    box-shadow: 2px 3px 4px 2px var(--primary-yellow);
    animation: bounce 1.5s infinite; /* Apply bounce animation */
  }
  
  /* Bounce animation keyframes */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Default position */
    }
    50% {
      transform: translateY(-10px); /* Move upward */
    }
  }
  

/* hero section responsive */
@media screen and (max-width: 1250px){
  .main-title {
    font-size: 8rem;
    line-height: 7rem; 
  }
  .description {
    font-size: 2.2rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
  }
  
}
@media screen and (max-width: 1100px){
  .main-title {
    font-size: 6rem;
    line-height: 7rem; 
    padding-top: 4px;
  }
  .description {
    font-size: 2.0rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
  }
  .rotate-2 { top: -210px; left: 2%; transform: rotate(10deg); }
  .rotate-5 { top: -210px; right: 2%; transform: rotate(-12deg); }
}
@media screen and (max-width: 1030px){
  .main-title {
    font-size: 6rem;
    line-height: 7rem; 
    padding-top: 0px;
  }
  .description {
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0px;
    padding: 0 10px;
  }
  .flipped{
    width: 100%;
    transform: scaleY(-1) !important;
  }
  
.arrow-btn-hero{
 top:20px
}


  .rotate-1 { top: -500px; left: 5%; transform: rotate(-17deg); }
  .rotate-4 { top: -500px; right: 5%; transform: rotate(17deg); }
  .rotate-2 { top: -210px; left: 2%; transform: rotate(10deg); }
  .rotate-5 { top: -210px; right: 2%; transform: rotate(-12deg); }
}
@media screen and (max-width: 900px){
  .contanier-main{
    padding: 0px 0px;
   }
  .main-title {
    font-size: 6rem;
    line-height: 7rem; 
    padding-top: 0px;
  }
  .description {
    font-size: 2.3rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
  }
  
  .polaroid .image {
    display: inline-block;
    height: 165px; /* Maintains aspect ratio */
    box-shadow: none; /* Remove inset shadow */
    transition: transform 0.5s ease, filter 0.5s ease; /* Smooth hover effects */
    padding: 25px 30px 35px;
}
  .arrow-btn-hero{
    top: 35px;
  }
  .rotate-1 { top: -400px; left: 3%; transform: rotate(-12deg); }
  .rotate-4 { top: -400px; right: 3%; transform: rotate(12deg); }
  .rotate-2 { display: none;}
  .rotate-5 { display: none; }
  .rotate-3 {
    left: 3%;
    transform: rotate(-7deg);
    top: 0;
}
.rotate-7 {
  left: 28%;
  transform: rotate(8deg);
  top: 0;
}
.rotate-8 {
  top: 0;
  left: 52%;
  transform: rotate(-8deg);
}
.rotate-6 {
  top: 0;
  left: 78%;
  transform: rotate(10deg);
}
}
@media screen and (max-width: 768px) {
  .contanier-main{
    padding: 20px 0px;
   }
   .polaroid-wrapper {
    position: absolute;
  
    background-image: url('../assets/images/border-1.png'); /* Path to your border image */
   
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-size: contain;
    
}

.polaroid .image {
    display: inline-block;
    height: 140px; /* Maintains aspect ratio */
    box-shadow: none; /* Remove inset shadow */
    transition: transform 0.5s ease, filter 0.5s ease; /* Smooth hover effects */
    padding: 10px 20px;
}

  .main-title {
    font-size: 4.8rem;
    line-height: 5rem; 
    padding-top: 0px;
  }
  .description {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  .rotate-6 {
    top: 0;
    left: 76%;
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 600px){
  .rotate-1 { top: -650px; left: 4%; transform: rotate(-10deg); }
  .rotate-4 { top: -650px; right: 4%; transform: rotate(10deg); }
  .rotate-8 {
    display: none;
  }
  .rotate-6 {
   display: none;
  }
  .rotate-3 {
    left: 3%;
    transform: rotate(-7deg);
    top: 0;
}
.rotate-7 {
  left: 60%;
  transform: rotate(8deg);
  top: 0;
}

.main-title {
  font-size: 5rem;
  line-height: 5rem; 
  padding-top: 0px;
}
.description {
  font-size: 2.1rem;
  line-height: 2.1rem;
  letter-spacing: 1px;
}
.navbar-light .navbar-brand {
  width: 80%;
}
.contanier-main{
  padding: 190px 0px 0px;
 }
 .polaroid-wrapper {
  position: absolute;

  background-image: url('../assets/images/border-1.png'); /* Path to your border image */
  background-size: contain; /* Ensures the border image covers the wrapper */
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.polaroid .image {
  display: inline-block;
  height: 160px; /* Maintains aspect ratio */
  box-shadow: none; /* Remove inset shadow */
  transition: transform 0.5s ease, filter 0.5s ease; /* Smooth hover effects */
  padding: 25px 30px 35px;
}
}
@media screen and (max-width: 410px){
  .rotate-1 { display: none;}
  .rotate-4 { display: none; }
  .rotate-8 {
    display: none;
  }
  .rotate-6 {
   display: none;
  }
  .rotate-3 {
 display: none;
}
.rotate-7 {
  display: none;
}
.main-title {
  font-size: 4.5rem;
  line-height: 4.8rem;
  padding-top: 20px;
}
.description {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0px;
}
.navbar-light .navbar-brand {
  width: 80%;
}
.contanier-main{
  padding: 0px 0px 0px;
 }
}

.wave{
  width: 100%;
  
}



.section-service {
  width: 100%;
  overflow-x: hidden;
  background: #ffca32;
  padding: 0px 0px 80px;
}

.welcome-btn {
  display: inline-block;
  background: #3b67b0;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 4px 6px 7px rgba(0,0,0,0.9);
  border: 4px solid #000;
}

.section-service h1 {
  color: #d9324d;
  font-size: 4.2rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 20px 20px 5px ;
  font-family: var(--secondary-font);
}

.section-service .desc {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 10px;
  font-size: 1.3rem;
  color: #000;
  padding: 0 ;
  font-weight: 700;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10px 50px;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #d9324d;
  color: #fff;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 30px;
  z-index: 2;
  cursor: pointer;
}

.arrow-left { left: 0px; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.arrow-right { right: 0px; border-top-right-radius: 0; border-bottom-right-radius: 0;}

.cards-wrapper {
  overflow: hidden;
  width: 100%;
}

.cards-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 40px;
  padding: 12px 35px 30px 25px;
}

.cards-wrapper .card {
  background: var(--primary-color);
  border-radius: 25px;
  border: 3px solid #000;
  box-shadow: 10px 10px 4px #000, 10px 10px 4px #000;
  padding: 30px 10px;
  text-align: center;
  flex: 0 0 23%;
  min-width: 23%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 400px;
}

/* .card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 12px 12px 0 #000, 6px 6px 25px rgba(0,0,0,0.4);
} */

.cards-wrapper .card img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  position: relative;
    left: 30%;
    animation: continuousAnimation 3s infinite ease-in-out;

}
@keyframes continuousAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@media screen and (max-width: 1300px){
.cards-wrapper .card h3{
  font-size: 1.8rem !important;
}
}

@media screen and (max-width: 380px){
.cards-wrapper .card h3{
  font-size: 1.2rem !important;
}
}

.cards-wrapper .card h3 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 12px 0px;
  font-family: var(--body-font);
  color: #000;
}

.cards-wrapper .card p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
  font-weight: 500;
}

.cards-wrapper .dots {
  text-align: center;
  margin-top: 20px;
}

.cards-wrapper .dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: var(--green-color);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  transition: opacity 0.3s;
  border: 4px solid #000;
}

.cards-wrapper .dot.active {
  opacity: 1;
  background-color: var(--green-color);
}

@media (max-width: 1300px) {
  .cards-wrapper .card {
    background: var(--primary-color);
    border-radius: 25px;
    border: 3px solid #000;
    box-shadow: 10px 10px 4px #000, 10px 10px 4px #000;
    padding: 20px 10px;
    text-align: center;
    flex: 0 0 22.4%;
    min-width: 31%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     height: 362px;
  }
}

@media (max-width: 1024px) {
  /* .card {
    flex: 0 0 33%;
    min-width: 33%;
  } */
 .cards-wrapper .card {
    background: var(--primary-color);
    border-radius: 25px;
    border: 3px solid #000;
    box-shadow: 10px 10px 4px #000, 10px 10px 4px #000;
    padding: 30px 10px;
    text-align: center;
    flex: 0 0 30%;
    min-width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}

@media (max-width: 350px) {
   .cards-wrapper .card {
    height: 525px !important;
   }
}




@media (max-width: 960px) {
  .cards-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 40px;
  padding: 12px 30px 30px 30px;
}
  .cards-wrapper .card {
    flex: 0 0 30%;
    min-width: 30%;
    height: 450px;
  }
  .section-service {
    width: 100%;
    overflow-x: hidden;
    background: #ffca32;
    padding: 50px 0px 80px;
  }
  .section-service h1{
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
   .cards-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 40px;
  padding: 12px 30px 30px ;
}
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #d9324d;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 25px;
  z-index: 2;
  cursor: pointer;
}
.arrow-left { left: 0px; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.arrow-right { right: 0px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
  .cards-wrapper .card {
    flex: 0 0 45%;
    min-width: 45%;
    height: 400px;
  }
  .cards-wrapper .cards-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 40px;
    padding: 10px 20px 30px;
}
}

@media (max-width: 600px) {
  .cards-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 39px;
  padding: 10px 20px 30px ;
}
  .cards-wrapper .card {
    flex: 0 0 100%;
    min-width: 100%;
    height: 430px;
  }
 
 .arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #d9324d;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 22px;
    z-index: 2;
    cursor: pointer;
  }
  .section-service {
    width: 100%;
    overflow-x: hidden;
    background: #ffca32;
    padding: 90px 0px 80px;
  }
  .section-service h1{
    font-size: 3.5rem;
  }

  .section-service .desc {
    text-align: center;
    max-width: 900px;
    margin: 0 10px 10px;
    font-size: 1.2rem;
    color: #000;
    padding: 0;
    font-weight: 700;
}
 
}

/* about section */
.about-section{
  margin-bottom: 80px;
}

.about-section  .welcome-btn {
  display: inline-block;
  background: var(--orange-color);
  color: #fff;
  padding: 5px 20px;
  border-radius: 25px;
  font-weight: 700;
  margin: 0px 0px 10px;
  box-shadow: 4px 6px 7px rgba(0,0,0,0.9);
  border: 4px solid #000;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform:uppercase;
  letter-spacing: 2px;
}
.about-section h1 {
  color: #d9324d;
  font-size: 7rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 20px 20px 5px ;
  font-family: var(--secondary-font);
  line-height: 5.5rem;
}

.about-section .desc {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto 10px;
  font-size: 1.4rem;
  color: var(--green-color);
  padding: 0 ;
  font-weight: 700;
}

.rotate-a-1 { top: -650px; left: 9%; transform: rotate(-20deg); }
.rotate-a-2 { bottom: 150px; left: 4%; transform: rotate(10deg); }
.rotate-a-3 { bottom: 150px; right: 4%; transform: rotate(-13deg); }
.rotate-a-4 { top: -650px; right: 7%; transform: rotate(20deg); }

@media (max-width: 1200px){
  .rotate-a-2 { bottom: 185px; left: 4%; transform: rotate(10deg); }
  .rotate-a-3 { bottom: 185px; right: 4%; transform: rotate(-13deg); }
}
@media (max-width: 1100px){
  .rotate-a-2 { bottom: 195px; left: 4%; transform: rotate(10deg); }
  .rotate-a-3 { bottom: 195px; right: 4%; transform: rotate(-13deg); }
  .about-section h1 {
    color: #d9324d;
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 20px 20px 5px ;
    font-family: var(--secondary-font);
    line-height: 5.5rem;
  }
  .section-service .desc {
    text-align: center;
    max-width: 900px;
    margin: 0 10px 10px;
    font-size: 1.2rem;
    color: #000;
    padding: 0;
    font-weight: 700;
}
}
@media (max-width: 1000px){
  .rotate-a-1 { top: -590px; left: 9%; transform: rotate(-20deg); }
  .rotate-a-4 { top: -590px; right: 7%; transform: rotate(20deg);}
  .rotate-a-2 { bottom: 170px; left: 3%; transform: rotate(10deg); }
  .rotate-a-3 { bottom: 170px; right: 3%; transform: rotate(-13deg); }
  .about-section h1 {
    color: #d9324d;
    font-size: 4.5rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 20px 20px 5px ;
    font-family: var(--secondary-font);
    line-height: 5.5rem;
  }
  .section-service .desc {
    text-align: center;
    max-width: 900px;
    margin: 0 10px 10px;
    font-size: 1.2rem;
    color: #000;
    padding: 0;
    font-weight: 700;
}
}
@media (max-width: 900px){
  .rotate-a-1 { top: -570px; left: 9%; transform: rotate(-20deg); }
  .rotate-a-4 { top: -570px; right: 7%; transform: rotate(20deg); }
  .rotate-a-2 { bottom: 210px; left: 3%; transform: rotate(10deg); }
  .rotate-a-3 { bottom: 210px; right: 3%; transform: rotate(-13deg); }
  .about-section h1 {
    color: #d9324d;
    font-size: 4.8rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 20px 20px 5px ;
    font-family: var(--secondary-font);
    line-height: 5.5rem;
  }
  .section-service .desc {
    text-align: center;
    max-width: 900px;
    margin: 0 10px 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 0;
    font-weight: 700;
}
}
@media (max-width: 800px){
  .rotate-a-1 { top: -550px; left: 9%; transform: rotate(-20deg); }
  .rotate-a-4 { top: -550px; right: 7%; transform: rotate(20deg); }
  .rotate-a-2 { bottom: 220px; left: 3%; transform: rotate(10deg); }
  .rotate-a-3 { bottom: 220px; right: 3%; transform: rotate(-13deg); }
  .about-section h1 {
    color: #d9324d;
    font-size: 3.8rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 20px 20px 5px ;
    font-family: var(--secondary-font);
    line-height: 5rem;
  }
  .section-service .desc {
    text-align: center;
    max-width: 900px;
    margin: 0 10px 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 0;
    font-weight: 700;
    line-height: 2rem;
}
}
@media (max-width: 700px){
  .rotate-a-1 { top: -570px; left: 9%; transform: rotate(-20deg); }
  .rotate-a-4 { top: -570px; right: 7%; transform: rotate(20deg); }
  .rotate-a-2 { bottom: -80px; left: 3%; transform: rotate(10deg); }
  .rotate-a-3 { bottom: -80px; right: 3%; transform: rotate(-13deg); }
  .about-section h1 {
    color: #d9324d;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 20px 20px 5px ;
    font-family: var(--secondary-font);
    line-height: 5rem;
  }
  .section-service .desc {
    text-align: center;
    max-width: 900px;
    margin: 0 10px 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 0;
    font-weight: 700;
    line-height: 2rem;
}
}
@media (max-width: 550px){
  .about-section{
    margin:40px 0px 80px;
  }
  .rotate-a-1 { top: -700px; left: 9%; transform: rotate(-20deg); }
.rotate-a-2 { bottom: -150px; left: 4%; transform: rotate(10deg); }
.rotate-a-3 { bottom: -150px; right: 4%; transform: rotate(-13deg); }
.rotate-a-4 { top: -700px; right: 7%; transform: rotate(20deg); }

.about-section h1 {
  color: #d9324d;
  font-size: 4rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 20px 20px 5px ;
  font-family: var(--secondary-font);
  line-height: 5rem;
}
}
@media (max-width: 450px){
  .about-section{
    margin:40px 0px 120px;
  }
  .rotate-a-1 { top: -820px; left: 9%; transform: rotate(-20deg); }
.rotate-a-2 { bottom: -150px; left: 4%; transform: rotate(10deg); }
.rotate-a-3 { bottom: -150px; right: 4%; transform: rotate(-13deg); }
.rotate-a-4 { top: -820px; right: 7%; transform: rotate(20deg); }

.about-section h1 {
  color: #d9324d;
  font-size: 4.2rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 20px 20px 5px ;
  font-family: var(--secondary-font);
  line-height: 5rem;
}
}
@media (max-width: 400px){
  .about-section{
    margin:40px 0px 120px;
  }
  .rotate-a-1 { top: -840px; left: 4%; transform: rotate(-8deg); }
.rotate-a-2 { bottom: -150px; left: 4%; transform: rotate(8deg); }
.rotate-a-3 { bottom: -150px; right: 4%; transform: rotate(-8deg); }
.rotate-a-4 { top: -840px; right: 4%; transform: rotate(8deg); }

.about-section h1 {
  color: #d9324d;
  font-size: 3.8rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 20px 20px 5px ;
  font-family: var(--secondary-font);
  line-height: 4rem;
}

}
@media (max-width: 350px){
  .about-section{
    margin:40px 0px 120px;
  }
  .rotate-a-1 { top: -870px; left: 4%; transform: rotate(-8deg); }
.rotate-a-2 { bottom: -150px; left: 4%; transform: rotate(8deg); }
.rotate-a-3 { bottom: -150px; right: 4%; transform: rotate(-8deg); }
.rotate-a-4 { top: -870px; right: 4%; transform: rotate(8deg); }

.about-section h1 {
  color: #d9324d;
  font-size: 3.8rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 20px 20px 5px ;
  font-family: var(--secondary-font);
  line-height: 4rem;
}

}

/* our program css */


.wave img {
  width: 100%;
  display: block;
  z-index: -1;
}
.wave-top{
  margin-bottom: -20px;
}
.wave-bottom{
  margin-top: -20px;
  height: 80px;
  z-index: 1000;
}
.program-section {
  background-color: #316ADF    ;
  padding: 80px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  z-index: 1000;
}
.program-section .welcome-btn {
  display: inline-block;
  background: #0a2e83;
  color: #fff;
  padding: 5px 20px;
  border-radius: 25px;
  font-weight: 700;
  margin: 0px 0px 10px;
  box-shadow: 4px 6px 7px rgba(0,0,0,0.9);
  border: 4px solid #000;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform:uppercase;
  letter-spacing: 2px;
}
.program-section .welcome-btn-1 {
  display: inline-block;
  background: var(--green-color);
  color: #fff;
  padding: 5px 20px;
  border-radius: 25px;
  font-weight: 700;
  margin: 0px 0px 10px;
  box-shadow: 4px 6px 7px rgba(0,0,0,0.9);
  border: 4px solid #000;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform:uppercase;
  letter-spacing: 2px;
}
.section-title {
  display: inline-block;
  background-color: #000;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 999px;
  margin: 30px 0 10px;
  font-size: 18px;
}

.section-title.green {
  background-color: #0aaa5f;
}
.grid-boxes-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  max-width: 800px;
  margin: 30px auto 160px;

}

.box {
  position: relative;
  background-color: #0a2e83;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 15px 15px 0 #333333, 0 15px 0 #333333; /* Right and bottom for 3D */
  transition: transform 0.3s ease, background-color 0.3s ease;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box:hover {
  transform: scale(1.03);
  background-color: #092473;
}

.box img {
  width: 100%;
  height: 150px;
  display: block;
  transition: filter 0.3s ease;
}

.box:hover img {
  filter: blur(4px);
}

.box p {
  padding: 15px 15px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  font-family: var(--secondary-font);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.box:hover p {
  color: #ffcc00; /* Change text color on hover */
}

/* Arrow effect */
.box::after {
  content: '↑'; /* Unicode arrow pointing upward */
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 20px;
  color: white;
  background-color: #007bff; /* Blue background */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circular background */
  transform: translateX(-10px) rotate(45deg); /* Slightly cross */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.box:hover::after {
  opacity: 1;
  transform: translateX(0) rotate(45deg); /* Smooth appearance */
}




.grid-boxes-responsive {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for top row */
  gap: 50px;
  max-width: 100%;
  margin-top: 30px;
  margin: 70px 100px 10px;
}

.grid-boxes-responsive-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for bottom row */
  gap: 50px;
  max-width: 60%;
  margin-top: 70px;
  margin: 70px 240px 10px;
}



@media (max-width: 1100px){
    .grid-boxes-responsive {
    grid-template-columns: repeat(1, 1fr); /* 2 columns on smaller screens */
     display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for top row */
  gap: 30px;
  max-width: 100%;
  margin-top: 30px;
  margin: 70px 40px 10px;
  }
  .grid-boxes-responsive-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for bottom row */
  gap: 50px;
  max-width: 80% !important;
  margin-top: 70px;
  margin: 70px 180px 10px;
}
  .box p{
    font-size: 20px;
  }
}
@media (max-width: 1000px){
  .grid-boxes-responsive-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for bottom row */
  gap: 50px;
  max-width: 80% !important;
  margin-top: 70px;
  margin: 70px 130px 10px;
}
.grid-boxes-responsive {
    grid-template-columns: repeat(1, 1fr); /* 2 columns on smaller screens */
     display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for top row */
  gap: 20px;
  max-width: 100%;
  margin-top: 30px;
  margin: 70px 20px 10px;
  }

}
@media (max-width: 850px){
  .box img {
  width: 100%;
  height: 140px;
  display: block;
  transition: filter 0.3s ease;
}
.box p{
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .program-section .welcome-btn-1 {
    display: inline-block;
    background: var(--green-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    font-weight: 700;
    margin: 70px 0px 0px;
    box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.9);
    border: 4px solid #000;
    font-family: var(--secondary-font);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  .grid-boxes-2col {
    grid-template-columns: 1fr;
    margin: 70px 170px 10px;
    gap: 60px;
  max-width: 400px;
  }


  .grid-boxes-responsive {
    grid-template-columns: repeat(1, 2fr); /* 2 columns on smaller screens */
     gap: 60px;
  max-width: 55%;
  margin-top: 30px;
  margin: 70px 170px 10px;
  }

  .grid-boxes-responsive-bottom {
    grid-template-columns: 1fr; /* Single column for bottom row on mobile */
    gap: 50px;
  max-width: 55% !important;
  margin-top: 70px;
  margin: 70px 170px 10px;
  }
}

@media (max-width: 700px) {
  .program-section .welcome-btn-1 {
    display: inline-block;
    background: var(--green-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    font-weight: 700;
    margin: 70px 0px 0px;
    box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.9);
    border: 4px solid #000;
    font-family: var(--secondary-font);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  .grid-boxes-2col {
    grid-template-columns: 1fr;
    margin: 70px 140px 10px;
    gap: 60px;
  max-width: 400px;
  }


  .grid-boxes-responsive {
    grid-template-columns: repeat(1, 2fr); /* 2 columns on smaller screens */
     gap: 60px;
  max-width: 55%;
  margin-top: 30px;
  margin: 70px 140px 10px;
  }

  .grid-boxes-responsive-bottom {
    grid-template-columns: 1fr; /* Single column for bottom row on mobile */
    gap: 50px;
  max-width: 55% !important;
  margin-top: 70px;
  margin: 70px 140px 10px;
  }
}
@media (max-width: 650px) {
  .program-section .welcome-btn-1 {
    display: inline-block;
    background: var(--green-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    font-weight: 700;
    margin: 70px 0px 0px;
    box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.9);
    border: 4px solid #000;
    font-family: var(--secondary-font);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  .grid-boxes-2col {
    grid-template-columns: 1fr;
    margin: 70px 100px 10px;
    gap: 60px;
  max-width: 400px;
  }


  .grid-boxes-responsive {
    grid-template-columns: repeat(1, 2fr); /* 2 columns on smaller screens */
     gap: 60px;
  max-width: 64%;
  margin-top: 30px;
  margin: 70px 100px 10px;
  }

  .grid-boxes-responsive-bottom {
    grid-template-columns: 1fr; /* Single column for bottom row on mobile */
    gap: 50px;
  max-width: 64% !important;
  margin-top: 70px;
  margin: 70px 100px 10px;
  }
}

@media (max-width: 500px) {
  .grid-boxes-2col {
    grid-template-columns: 1fr;
    margin: 70px 20px 10px;
  }

.grid-boxes-responsive {
    grid-template-columns: repeat(1, 2fr); /* 2 columns on smaller screens */
     gap: 60px;
  max-width: 90%;
  margin-top: 30px;
  margin: 70px 20px 10px;
  }

  .grid-boxes-responsive-bottom {
    grid-template-columns: 1fr; /* Single column for bottom row on mobile */
    gap: 50px;
  max-width: 90% !important;
  margin-top: 70px;
  margin: 70px 20px 10px;
  }
}
@media (max-width: 350px) {
  .grid-boxes-2col {
    grid-template-columns: 1fr;
    margin: 70px 5px 10px;
  }

.grid-boxes-responsive {
    grid-template-columns: repeat(1, 2fr); /* 2 columns on smaller screens */
     gap: 60px;
  max-width: 95%;
  margin-top: 30px;
  margin: 70px 5px 10px;
  }

  .grid-boxes-responsive-bottom {
    grid-template-columns: 1fr; /* Single column for bottom row on mobile */
    gap: 50px;
  max-width: 95% !important;
  margin-top: 70px;
  margin: 70px 5px 10px;
  }
}


/* testinomial section star */
/* Global Styling */


/* Testimonial Grid */
.testinomial{
 padding: 270px 0px 80px; 
 background-image: url('images/bg1.png'); /* Replace with your image URL */
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 100%;
 margin-top:-80px;
 background-attachment: fixed;
 z-index: -1;
}
.testinomial .welcome-btn {
  display: inline-block;
  background: var(--green-color);
  color: #fff;
  padding: 5px 20px;
  border-radius: 25px;
  font-weight: 700;
  margin: 0px 0px 10px;
  box-shadow: 4px 6px 7px rgba(0,0,0,0.9);
  border: 4px solid #000;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform:uppercase;
  letter-spacing: 2px;
}
.testimonial-container{
  margin: 40px 20px;
}

/* Card Styling */
.testimonial-card {
  position: relative;
  width: 100%;
  height: 477px; /* Fixed height */
  background: white;
  border: 4px solid #000;
  border-radius: 30px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.testimonial-card 
.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image Container */
.image-container {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Text Container */
.text-container {
  padding: 16px;
  text-align: center;
  transition: all 0.3s ease;
}

.text-container h3,
.text-container .role {
  margin: 0;
}

.text-container h3 {
  font-size: 18px;
  transition: all 0.3s ease;
  color: #000;
  text-align: left;
}

.text-container .role {
  font-size: 14px;
  color: #000;
  transition: all 0.3s ease;
  text-align: left;
  margin-top: 5px;
}

.testimonial-text {
  display: none;
  font-size: 15px;
  color: #000;
  margin-top: 12px;
  transition: opacity 0.3s ease;
}

/* Hover Effects */
.testimonial-card:hover .image-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ddd;
  overflow: hidden;
}

.testimonial-card:hover .image-container img {
  transform: scale(1.2);
}

.testimonial-card:hover .text-container {
  padding-top: 100px; /* Adjust spacing for the new layout */
}

.testimonial-card:hover .text-container h3 {
  text-align: left;
  margin-left: 90px;
  margin-top: -70px;
  position: absolute;
}
.testimonial-card:hover .text-container .role {
  text-align: left;
  margin-left: 100px;
  margin-top: -40px;
  position: absolute;
}

.testimonial-card:hover .testimonial-text {
  display: block;
  padding-top: 40px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1100px) {
  .testimonial-card:hover .image-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ddd;
    overflow: hidden;
  }
  .testimonial-card:hover .text-container h3{
    font-size: 15px;
    margin-left: 80px;
  }
  .testimonial-card:hover .text-container .role {
    text-align: left;
    margin-left: 80px;
    margin-top: -45px;
    position: absolute;
  }
}
@media (max-width: 1000px) {
  .testimonial-container {
    margin: 40px 0px;
}
.testimonial-card:hover .text-container h3{
  font-size: 14px;
  margin-left: 80px;
}
.testimonial-card:hover .text-container .role {
  text-align: left;
  margin-left: 80px;
  margin-top: -35px;
  position: absolute;

}
}


@media (max-width: 550px) {
  .testimonial-container {
    margin: 40px 40px;
}

  .text-container .role {
    font-size: 18px;
  }
  .testimonial-card:hover .text-container h3{
    font-size: 20px;
    margin-left: 80px;
  }

  .testimonial-text {
    font-size: 15px;
  }
}


@media (max-width: 400px) {
  .testimonial-container {
    margin: 40px 40px;
}

  .text-container .role {
    font-size: 14px;
  }
  .testimonial-card:hover .text-container h3{
    font-size: 16px;
    margin-left: 80px;
  }

  .testimonial-text {
    font-size: 15px;
  }
}



/* Gallery Section start */
.gallery{
  background-image: url('images/bg1.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding:50px 0px 100px;
  margin-bottom: -100px;
 background-attachment: fixed;
}
.gallery .welcome-btn{
   display: inline-block;
  background: var(--secondary-color);
  color: #fff;
  padding: 5px 20px;
  border-radius: 25px;
  font-weight: 700;
  margin: 0px 0px 10px;
  box-shadow: 4px 6px 7px rgba(0,0,0,0.9);
  border: 4px solid #000;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform:uppercase;
  letter-spacing: 2px;
}
/* .gallery img{
  width: 90%;
  margin-top: 20px;
} */
/* Styling for the gallery frame */
.gallery-frame {
  position: relative; /* Enable positioning for child elements */
  display: block; /* Ensure the frame behaves as a block element */
  width: 100%; /* Set the frame width */
  height: auto; /* Adjust height as needed */
  overflow: hidden; /* Hide anything outside the frame */
}

/* Styling for the frame image */
.frame-image {
  display: block; /* Ensure it takes up full space */
  width: 100%; /* Match the container width */
  height: auto; /* Maintain aspect ratio */
}

/* Styling for the centered image */
.center-image {
  position: absolute; /* Position relative to the frame */
  top: 52%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%)rotate(-18deg); /* Perfect centering */
  transform-origin: center; /* Rotate around the center */
  max-width: 56%; /* Scale within the frame */
  max-height: 50%; /* Prevent overflowing the frame */
  border: 2px solid white; /* Optional: Add a border for better visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for aesthetics */
  
}
.center-text {
  position: absolute;
  top: 83%;
  left: 62%;
  transform: translate(-50%, -50%) rotate(-18deg);
  transform-origin: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;

  pointer-events: none;

}
.center-image-a {
  position: absolute; /* Position relative to the frame */
  top: 52%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%)rotate(18deg); /* Perfect centering */
  transform-origin: center; /* Rotate around the center */
  max-width: 56%; /* Scale within the frame */
  max-height: 50%; /* Prevent overflowing the frame */
  border: 2px solid white; /* Optional: Add a border for better visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for aesthetics */
  
}
.center-text-a {
  position: absolute;
  top: 87%;
    left: 59%;

  transform: translate(-100%, -100%) rotate(18deg);
  transform-origin: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;

  pointer-events: none;

}
@media (max-width: 1200px){
  .center-text {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%) rotate(-18deg);
  transform-origin: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;
 width: 100%;
  pointer-events: none;

}
  .center-text-a {
  position: absolute;
  top: 92%;
   left: 115%;
 width: 100%;
  transform: translate(-100%, -100%) rotate(18deg);
  transform-origin: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;

  pointer-events: none;

}
}
@media (max-width: 1000px){
  .center-text {
  position: absolute;
  top: 75%;
  left: 85%;
  transform: translate(-50%, -50%) rotate(-18deg);
  transform-origin: center;
  color: #000;
  font-size: 12px;
  font-weight: bold;
 width: 100%;
  pointer-events: none;

}
  .center-text-a {
  position: absolute;
  top: 92%;
   left: 110%;
 width: 100%;
  transform: translate(-100%, -100%) rotate(18deg);
  transform-origin: center;
  color: #000;
  font-size: 12px;
  font-weight: bold;

  pointer-events: none;

}
}
@media (max-width: 780px){
  .center-text {
  position: absolute;
  top: 75%;
  left: 85%;
  transform: translate(-50%, -50%) rotate(-18deg);
  transform-origin: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;
 width: 100%;
  pointer-events: none;

}
  .center-text-a {
  position: absolute;
  top: 92%;
   left: 110%;
 width: 100%;
  transform: translate(-100%, -100%) rotate(18deg);
  transform-origin: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;

  pointer-events: none;

}
}
@media (max-width: 500px){
  .center-text {
  position: absolute;
  top: 75%;
  left: 95%;
  transform: translate(-50%, -50%) rotate(-18deg);
  transform-origin: center;
  color: #000;
  font-size: 16px;
  font-weight: bold;
 width: 100%;
  pointer-events: none;

}
  .center-text-a {
  position: absolute;
  top: 92%;
   left: 120%;
 width: 100%;
  transform: translate(-100%, -100%) rotate(18deg);
  transform-origin: center;
  color: #000;
  font-size: 16px;
  font-weight: bold;

  pointer-events: none;

}
}
/* Faq section start */
.faq{
  background-color: #092473;
  padding: 80px 0px;
}
.faq  .welcome-btn {
  display: inline-block;
  background: var(--orange-color);
  color: #fff;
  padding: 5px 20px;
  border-radius: 25px;
  font-weight: 700;
  margin: 0px 0px 10px;
  box-shadow: 4px 6px 7px rgba(0,0,0,0.9);
  border: 4px solid #000;
  font-family: var(--secondary-font);
  font-size: 25px;
  text-transform:uppercase;
  letter-spacing: 2px;
}

.faq-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px;
}

.faq-card {
  width: 100%;
    height: 358px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    box-shadow: 10px 10px 0 black, 0 10px 0 black;
    border: 5px solid black;
}

.faq-card:hover {
  transform: scale(1.05);
}

.faq-header {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 5px;
  padding: 10px 20px;
}

.faq-header i {
  font-size: 20px;
  padding: 5px 0px;
}

.faq-question {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #000;
  text-align: left;
  padding: 0 20px;
}

.faq-answer {
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  color: #000;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
  border-top: 1px dotted #000;
  transition: bottom 0.3s ease-in-out;
  font-family: var(--body-font);
}

.faq-card:hover .faq-answer {
  bottom: 0;
}

/* Responsive Design */
@media (max-width: 1000px){
  .faq-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .faq-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .faq-card {
    height: 200px;
  }

  .faq-question {
    font-size: 14px;
  }

  .faq-answer {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .faq-section {
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    padding: 0;
    gap: 10;
  }

  .faq-card {
    height: 250px;
    width: 80%;
    margin: 0 35px;

  }

  .faq-question {
    font-size: 14px;
  }

  .faq-answer {
    font-size: 12px;
  }
}


/* contact us form */

.form-container {
  padding: 100px 0 0px;
  background: #092473;
  color: black;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
}

.form-header {
  padding: 20px;
 
  color: white;
}

.form-header h1 {
  font-size:3rem;
  margin-bottom: 10px;
  font-family: var(--secondary-font);
}

.form-header p {
  font-size: 16px;
  font-family: var(--body-font);
}

.form-body {
  padding: 20px 40px 20px 20px;
}

.form-body input {
  border-radius: 5px;
  border: 2px solid #000;
  margin: 10px 0px;
}

.form-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f8f9fa; */
  padding: 10px;
}

.form-image img {
  max-width: 100%;
  width: 60%;
  border-radius: 10px;
  border: 3px solid #000;
  padding: 4px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2),2px 3px 4px rgba(0, 0, 0, 0.4);
}

.btn-submit {
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 200px;
}

.btn-submit:hover {
  background-color: #cc0000;
}
@media (max-width: 1000px){
  .form-image img {
  max-width: 100%;
  width: 90%;
  border-radius: 10px;
  border: 3px solid #000;
  padding: 4px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2),2px 3px 4px rgba(0, 0, 0, 0.4);
}

}
@media (max-width: 750px){
  .form-image img {
  max-width: 100%;
  width: 60%;
  border-radius: 10px;
  border: 3px solid #000;
  padding: 4px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2),2px 3px 4px rgba(0, 0, 0, 0.4);
}

}
/* contact form end */




/* footer css start */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0 10px;
  
}
.footer .logo-section {
  background-color: #e63946;
  color: #fff;
  padding: 20px;
  height: 200px;
}
.footer .logo-section h4{
  font-family: var(--secondary-font);
  font-family: 18px;

}
.footer .logo-section .no a{
  color: var(--primary-yellow);
  font-size: 14px;
}
.footer .logo-section p{
  font-family: var(--body-font);
 max-width: 500px;
 font-size: 15px;
 margin: 0px;
}
.footer .logo-section img{
  width: 70px;

}
.footer .icon-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .icon-section div {
  width: 100%;
  height: 200px;
  background-color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 10px;
}
.footer .icon-section div a i{
  font-size: 3.5rem;
  color: #fff;
}
.footer .icon-section div:nth-child(2) {
  background-color: var(--primary-yellow);
}
.footer .icon-section div:nth-child(3) {
  background-color: var(--green-color);
}
.footer .icon-section div:nth-child(4) {
  background-color: var(--blue-color);
}
.footer-bottom p, .footer-bottom a{
  font-size: 14px;
}
@media (max-width: 1000px){
  .footer .icon-section div {
    width: 100%;
    height: 150px;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .footer .logo-section {
    background-color: #e63946;
    color: #fff;
    padding: 20px;
    height: 200px;
    margin: 10px 10px;
    width: 97%;
  }
}
@media (max-width: 500px){
  .footer .icon-section div {
    width: 100%;
    height: 100px;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .footer .logo-section {
    background-color: #e63946;
    color: #fff;
    padding: 20px;
    height: 250px;
    margin: 10px 10px;
    width: 95%;
  }
  .footer-bottom p, .footer-bottom a{
    font-size: 10px;
  }
  .footer .icon-section div a i{
    font-size: 3rem;
    color: #fff;
  }
}
.footer a {
  color: #fff;
  text-decoration: none;
}


/* footer section end */

/* scroll */
/* Scroll to Top Button Styles */
.scroll-to-top {
  position: fixed;
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  width: 50px;
  height: 50px;
  background-color: #dc3545; /* Button color */
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #a83232; /* Darker on hover */
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Show button when visible */
.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}


/* modal section start */

   .lightbox {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #000;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    overflow: auto;
  }
  
  .lightbox-content {
    height: 100%;
    
    width: 100%;
    max-width:100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
  
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 32px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    border: 4px solid #000;
  }
  .lightbox-main {
    display: flex;
   margin: 5px 5px 0px !important;
    gap: 5px;
  }
   .left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #013a7b;
    padding: 0px;
    
  }
  .lightbox-header {
    text-align: left;
      font-family: var(--secondary-font);
  
  }
  
  .left-section .lightbox-header h2 {
    font-size: 3.5rem !important;
    margin: 0;
    color: #fff;
    padding: 0px 30px;
       font-family: var(--secondary-font);
       letter-spacing: 1px;
  }
  
  .left-section .lightbox-header p {
    font-size: 2rem !important;
    margin: 0;
    color: #fff;
    padding: 5px 30px;
    letter-spacing: 1px;
  }
  
  .icon-section{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: left !important;
    padding-bottom: 10px;
  }
  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    background: #013a7b;
    padding: 0px 10px !important;
    border-radius: 8px;
  }
  
  .icon-box img {
    width: 80px;
    height: 80px;
  }
  
  .icon-box p {
    margin: 0;
    font-size: 1rem;
    font-family: var(--body-font);
    color: #fff;
    width: 80px;
    padding: 5px 0px 0px;
  }
  
  .right-section {
    width: 50%;
    background-color: green;
    padding: 10px 40px;
  }
  
  .right-section p {
    margin: 0 0 10px 0;
    font-family: var(--body-font);
    color: #fff3cd;
  }
  
  .right-section ul {
    padding-left: 20px;
    margin: 0;
    font-family: var(--body-font);
    color: #fff3cd;
    font-size: 16px;
  }
  
  .right-section ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    
  }
  
  .right-section ul li span {
    font-weight: bold;
  }
  .lightbox-img{
    width: 100%;
   padding: 5px;
  }
  .lightbox-img img{
   height: 240px;
   width: 100%;
   
  }
  .lightbox-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   gap: 5px;
  }
  
  .prev-btn  {
    font: var(--body-font);
    border: 1px solid #000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background: orangered;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }
  .next-btn{
    font: var(--body-font);
    border: 1px solid #000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background: orangered;
    width: 100%;
    text-align: right;
    padding: 10px 20px;
  }

  /* modal section end */
   @media screen and (max-width: 1050px){
  .left-section .lightbox-header h2 {
    font-size: 2.8rem !important;
    margin: 0;
    color: #fff;
    padding: 10px 10px;
       font-family: var(--secondary-font);
       letter-spacing: 0px;
  }
   }
   @media screen and (max-width: 800px){
 .right-section ul {
    padding-left: 20px;
    margin: 0;
    font-family: var(--body-font);
    color: #fff3cd;
    font-size: 15px;
  }
  .right-section p {
    margin: 0 0 10px 0;
    font-family: var(--body-font);
    color: #fff3cd;
    font-size: 15px;
  }
  .right-section ul {
    padding-left: 20px;
    margin: 0;
    font-family: var(--body-font);
    color: #fff3cd;
    font-size: 14px;
  }
  
   }
    @media screen and (max-width: 680px){
 .right-section ul {
    padding-left: 20px;
    margin: 0;
    font-family: var(--body-font);
    color: #fff3cd;
    font-size: 14px;
  }
  .right-section p {
    margin: 0 0 10px 0;
    font-family: var(--body-font);
    color: #fff3cd;
    font-size: 15px;
  }
   .left-section .lightbox-header h2 {
    font-size: 2.6rem !important;
    margin: 0;
    color: #fff;
    padding: 10px 10px;
       font-family: var(--secondary-font);
       letter-spacing: 0px;
  }
  .prev-btn  {
    
    border: 1px solid #000;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    background: orangered;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }
  .next-btn{
    border: 1px solid #000;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    background: orangered;
    width: 100%;
    text-align: right;
    padding: 10px 20px;
  }
  
   }
    @media screen and (max-width: 650px){
      .lightbox-main {
    display: flex;
   margin: 5px 5px 0px !important;
    gap: 5px;
    flex-direction: column;
  }
  .left-section,
  .right-section{
    width: 100%;
  }
    }
    @media screen and (max-width: 500px){
       .left-section .lightbox-header h2 {
    font-size: 2rem !important;
    margin: 0;
    color: #fff;
    padding: 10px 10px;
       font-family: var(--secondary-font);
       letter-spacing: 0px;
  }
    .lightbox-footer {
    display: flex;
   flex-direction: column;
    align-items: center;
   gap: 5px;
  }
  .icon-box img {
    width: 50px;
    height: 50px;
  }
  .icon-box p {
    margin: 0;
    font-size: 0.6rem;
    font-family: var(--body-font);
    color: #fff;
    width: 50px;
    padding: 5px 0px 0px;
  }
    .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    background: #013a7b;
    padding: 0px 5px !important;
    border-radius: 8px;
  }
  .lightbox-img img{
   height: 200px;
   width: 100%;
   
  }
  .right-section p {
    margin: 0 0 10px 0;
    font-family: var(--body-font);
    color: #fff3cd;
    font-size: 14px;
  }
    }

    .gif-container {
  margin-top: 20px;
}

.gif-img {
 width: 100%;
  height:auto;
  border-radius: 8px;
  
}
